<header class="header">
    <div class="logo">
        <a href=""><img src="../../../../assets/images/pecas.png" alt=""></a>
    </div>  <!--logo-->
    
    <div class="nav">
         <a href=""><h3>Controle de Estoque</h3></a>
     </div><!--nav-->   

     <div class="sair">
        <a routerLink="cadastro" class="cadastrar">Cadastrar</a>   
         <a href="#">Sair</a>
     </div>
</header>


<form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <h3>Cadastrar Item</h3>
        <input type="text" name="codigo" id="codigo" placeholder="Codigo:" ngModel required/>
        <input type="text" name="nome" id="nome" placeholder="Nome:" ngModel required/>
        <input type="text" name="estoque" id="estoque" placeholder="Estoque:" ngModel required/>
        <input type="text" name="preco" id="preco" placeholder="Preco:" ngModel required/>

            <div>
                <button type="submit">Cadastrar</button>
                <button routerLink="/produtos">Cancelar</button>             
            </div>
  
</form>



