.barra input[type=text]{
    margin-top: 5px;
    margin-left: 20px;
    padding-left: 20px;
    width: 320px;
    height: 30px;
    border: 1px solid #ccc;
}
input[type=submit]{
    width: 140px;
    height: 30px;
    cursor: pointer;
    background-color:#5F7CBA;
    color: white;
    border: 0;
    border-radius: 8px;
}

input[type=text]:focus{
    outline: 0;
}


@media screen and (max-width:500px){

    .barra input[type=text]{
        width: 100%;
        padding-left: 10px;
        margin-left: 0;
    }
    input[type=submit]{
        margin-top: 10px;
        width: 100%;
    }





}