section.itens .lista{
    margin-left: 20px;
    margin-top:20px;
    border-bottom: 1px solid #ccc;
}

.produto-uni{
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    width: 70%;
    
}



@media screen and (max-width:500px){

    .produto-uni{
        margin-left: 10px;
    }


}